.last-sections__parallax
    picture.parallax__layer.blue-bg
        source(media="(min-width: 1800px)" type="image/jpeg" srcset=require("images/parallax/last/1800min/blue-bg.jpg"))
        source(media="(min-width: 1200px)" type="image/jpeg" srcset=require("images/parallax/last/1200min/blue-bg.jpg"))
        source(media="(min-width: 769px)" type="image/jpeg" srcset=require("images/parallax/last/769min/blue-bg.jpg"))
        img(src="" alt="").parallax__image
    
    picture.parallax__layer.bg-clouds
        source(media="(min-width: 1800px)" type="image/jpeg" srcset=require("images/parallax/last/1800min/bg-clouds.jpg"))
        source(media="(min-width: 1200px)" type="image/jpeg" srcset=require("images/parallax/last/1200min/bg-clouds.jpg"))
        source(media="(min-width: 769px)" type="image/jpeg" srcset=require("images/parallax/last/769min/bg-clouds.jpg"))
        img(src="").parallax__image

    picture.parallax__layer.rocks(data-speed="0.05")
        source(media="(min-width: 1800px)" type="image/png" srcset=require("images/parallax/last/1800min/rocks.png"))
        source(media="(min-width: 1200px)" type="image/png" srcset=require("images/parallax/last/1200min/rocks.png"))
        source(media="(min-width: 769px)" type="image/png" srcset=require("images/parallax/last/769min/rocks.png"))
        img(src="").parallax__image

    picture.parallax__layer.budda(data-speed="0.2")
        source(media="(min-width: 769px)" type="image/png" srcset=require("images/parallax/last/769min/budda.png"))
        img(src="").parallax__image
    
    picture.parallax__layer.bottom-clouds
        source(media="(min-width: 1800px)" type="image/png" srcset=require("images/parallax/last/1800min/bottom-clouds.png"))
        source(media="(min-width: 1200px)" type="image/png" srcset=require("images/parallax/last/1200min/bottom-clouds.png"))
        source(media="(min-width: 769px)" type="image/png" srcset=require("images/parallax/last/769min/bottom-clouds.png"))
        img(src="").parallax__image

    picture.parallax__layer.bottom-clouds-2
        source(media="(min-width: 1800px)" type="image/png" srcset=require("images/parallax/last/1800min/bottom-clouds-2.png"))
        source(media="(min-width: 1200px)" type="image/png" srcset=require("images/parallax/last/1200min/bottom-clouds-2.png"))
        source(media="(min-width: 769px)" type="image/png" srcset=require("images/parallax/last/769min/bottom-clouds-2.png"))
        img(src="").parallax__image

    picture.parallax__layer.bottom-clouds-3
        source(media="(min-width: 1800px)" type="image/png" srcset=require("images/parallax/last/1800min/bottom-clouds-3.png"))
        source(media="(min-width: 1200px)" type="image/png" srcset=require("images/parallax/last/1200min/bottom-clouds-3.png"))
        source(media="(min-width: 769px)" type="image/png" srcset=require("images/parallax/last/769min/bottom-clouds-3.png"))
        img(src="").parallax__image

    picture.parallax__layer.tabs-phones-bg
        source(media="(max-width: 768px)" type="image/jpeg" srcset=require("images/parallax/last/768max/budda.jpg"))
        img(src="" alt="").parallax__image