.welcome-sections__parallax
    picture.parallax__layer.sky
        source(media="(min-width: 1800px)" type="image/jpeg" srcset=require("images/parallax/welcome/1800min/Sky.jpg"))
        source(media="(min-width: 1200px)" type="image/jpeg" srcset=require("images/parallax/welcome/1200min/Sky.jpg"))
        source(media="(min-width: 769px)" type="image/jpeg" srcset=require("images/parallax/welcome/769min/Sky.jpg"))
        img(src="" alt="").parallax__image
    
    picture.parallax__layer.mountain-prlx(data-speed="0.3")
        source(media="(min-width: 1800px)" type="image/png" srcset=require("images/parallax/welcome/1800min/Mountain.png"))
        source(media="(min-width: 1200px)" type="image/png" srcset=require("images/parallax/welcome/1200min/Mountain.png"))
        source(media="(min-width: 769px)" type="image/png" srcset=require("images/parallax/welcome/769min/Mountain.png"))
        img(src="").parallax__image
    
    picture.parallax__layer.baloon-prlx(data-speed="0.9")
        source(media="(min-width: 769px)" type="image/png" srcset=require("images/parallax/welcome/769min/Baloon.png"))
        img(src="").parallax__image
    
    picture.parallax__layer.cloud-prlx(data-speed="0.5")
        source(media="(min-width: 1800px)" type="image/png" srcset=require("images/parallax/welcome/1800min/Cloud.png"))
        source(media="(min-width: 1200px)" type="image/png" srcset=require("images/parallax/welcome/1200min/Cloud.png"))
        source(media="(min-width: 769px)" type="image/png" srcset=require("images/parallax/welcome/769min/Cloud.png"))
        img(src="").parallax__image
    
    picture.parallax__layer.man-prlx(data-speed="0.2")
        source(media="(min-width: 1800px)" type="image/png" srcset=require("images/parallax/welcome/1800min/Man.png"))
        source(media="(min-width: 1200px)" type="image/png" srcset=require("images/parallax/welcome/1200min/Man.png"))
        source(media="(min-width: 769px)" type="image/png" srcset=require("images/parallax/welcome/769min/Man.png"))
        img(src="").parallax__image
    
    picture.parallax__layer.mountain1-prlx(data-speed="0.2")
        source(media="(min-width: 1800px)" type="image/png" srcset=require("images/parallax/welcome/1800min/Mountain1.png"))
        source(media="(min-width: 1200px)" type="image/png" srcset=require("images/parallax/welcome/1200min/Mountain1.png"))
        source(media="(min-width: 769px)" type="image/png" srcset=require("images/parallax/welcome/769min/Mountain1.png"))
        img(src="").parallax__image
    
    picture.parallax__layer.white-prlx(data-speed="0.9")
        source(media="(min-width: 1800px)" type="image/png" srcset=require("images/parallax/welcome/1800min/White.png"))
        source(media="(min-width: 1200px)" type="image/png" srcset=require("images/parallax/welcome/1200min/White.png"))
        source(media="(min-width: 769px)" type="image/png" srcset=require("images/parallax/welcome/769min/White.png"))
        img(src="").parallax__image

    picture.parallax__layer.tabs-phones-bg
        source(media="(max-width: 768px)" type="image/jpeg" srcset=require("images/parallax/welcome/768max/mountain_baloon.jpg"))
        img(src="").parallax__image