.welcome-sections__parallax
    picture.parallax__layer.sky
        source(media="(min-width: 1800px)" type="image/jpg" srcset=require("images/parallax/welcome/1800min/Sky.jpg"))
        //- source(media="(min-width: 1200px)" type="image/jpg" srcset=require("images/parallax/welcome/1200min/Sky.jpg"))
        //- source(media="(min-width:769px)" type="image/jpg" srcset=require("images/parallax/welcome/769min/Sky.jpg"))
        //- source(media="(max-width: 768px)" type="image/jpg" srcset=require("images/parallax/welcome/768max/Sky.jpg"))
        img(src=require("images/parallax/welcome/768max/Sky.jpg") alt="" data-speed="0").parallax__image
    
    picture.parallax__layer.mountain-prlx
        source(media="(min-width: 1800px)" type="image/png" srcset=require("images/parallax/welcome/1800min/Mountain.png"))
        //- source(media="(min-width: 1200px)" type="image/png" srcset=require("images/parallax/welcome/1200min/Mountain.png"))
        //- source(media="(min-width:769px)" type="image/png" srcset=require("images/parallax/welcome/769min/Mountain.png"))
        img(src=require("images/parallax/welcome/768max/Mountain.png") alt="" data-speed="0.3").parallax__image
    
    picture.parallax__layer.baloon-prlx
        source(media="(min-width:769px)" type="image/png" srcset=require("images/parallax/welcome/769min/Baloon.png"))
        img(src=require("images/parallax/welcome/768max/Baloon.png") alt="" data-speed="4.9").parallax__image
    
    picture.parallax__layer.cloud-prlx
        source(media="(min-width: 1800px)" type="image/png" srcset=require("images/parallax/welcome/1800min/Cloud.png"))
        //- source(media="(min-width: 1200px)" type="image/png" srcset=require("images/parallax/welcome/1200min/Cloud.png"))
        //- source(media="(min-width:769px)" type="image/png" srcset=require("images/parallax/welcome/769min/Cloud.png"))
        img(src=require("images/parallax/welcome/768max/Cloud.png") alt="" data-speed="0.45").parallax__image
    
    picture.parallax__layer.man-prlx
        source(media="(min-width: 1800px)" type="image/png" srcset=require("images/parallax/welcome/1800min/Man.png"))
        //- source(media="(min-width: 1200px)" type="image/png" srcset=require("images/parallax/welcome/1200min/Man.png"))
        //- source(media="(min-width:769px)" type="image/png" srcset=require("images/parallax/welcome/769min/Man.png"))
        img(src=require("images/parallax/welcome/768max/Man.png") alt="" data-speed="0.2").parallax__image
    
    picture.parallax__layer.mountain1-prlx
        source(media="(min-width: 1800px)" type="image/png" srcset=require("images/parallax/welcome/1800min/Mountain1.png"))
        //- source(media="(min-width: 1200px)" type="image/png" srcset=require("images/parallax/welcome/1200min/Mountain1.png"))
        //- source(media="(min-width:769px)" type="image/png" srcset=require("images/parallax/welcome/769min/Mountain1.png"))
        img(src=require("images/parallax/welcome/768max/Mountain1.png") alt="" data-speed="0.13").parallax__image
    
    picture.parallax__layer.white-prlx
        source(media="(min-width: 1800px)" type="image/png" srcset=require("images/parallax/welcome/1800min/White.png"))
        //- source(media="(min-width: 1200px)" type="image/png" srcset=require("images/parallax/welcome/1200min/White.png"))
        //- source(media="(min-width:769px)" type="image/png" srcset=require("images/parallax/welcome/769min/White.png"))
        img(src=require("images/parallax/welcome/768max/White.png") alt="" data-speed="0").parallax__image
